.addBtnContainer {
    text-align: right;
    margin-bottom: 5px;
}

.addBtnContainer button {
    background-color: #317b6a;
    border-radius: 0;
}
.addBtnContainer button:hover {
    box-shadow: 1px 2px 8px rgb(48, 48, 48);
}
